/*
 * Corne Keyboard Keymap - Full Spanish ISO (Mac Optimized - BACKSLASH FIX)
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/* -------------------------------------------------------------------------- */
/* DEFINICIONES MANUALES PARA MAC ESPAÑOL (ISO)                               */
/* -------------------------------------------------------------------------- */

#define ES_NTIL SEMI          // Ñ
#define ES_ACUT SQT           // ´ (Acento)
#define ES_MINS SLASH         // -

// FIX PARA MAC: < y >
#define ES_LABK GRAVE         
#define ES_RABK LS(GRAVE)     

#define ES_LCBR RA(SQT)       // { (Alt + ')
#define ES_RCBR RA(NON_US_HASH) // } (Alt + ç)
#define ES_LPRN LS(N8)        // (
#define ES_RPRN LS(N9)        // )
#define ES_LBKT RA(LBKT)      // [ (Alt + `)
#define ES_RBKT RA(RBKT)      // ] (Alt + +)
#define ES_DLR  LS(N4)        // $
#define ES_SLSH LS(N7)        // /
#define ES_DQUO LS(N2)        // "
#define ES_PIPE RA(N1)        // | (Alt + 1)
#define ES_AT   RA(N2)        // @ (Alt + 2)
#define ES_HASH RA(N3)        // # (Alt + 3)

// EL FIX DEFINITIVO PARA EL BACKSLASH \ EN MAC ISO
#define ES_BSLS LS(RA(N7))    

#define ES_PERC LS(N5)        // %
#define ES_AMPR LS(N6)        // &
#define ES_EQL  LS(N0)        // =
#define ES_QUOT MINUS         // '
#define ES_ASTR LS(RBKT)      // *
#define ES_PLUS RBKT          // +
#define ES_IEXL EQUAL         // ¡

#define ES_CIRC LS(LBKT)      // ^
#define ES_TILD RA(N4)        // ~ (Alt + 4)
#define ES_GRV  LBKT          // ` (Acento grave)
#define ES_DIAE LS(SQT)       // ¨ (Diéresis)
#define ES_EURO RA(E)         // €
#define ES_SCLN LS(COMMA)     // ;
#define ES_COLN LS(DOT)       // :
#define ES_QUES LS(MINUS)     // ?
#define ES_IQUE LS(EQUAL)     // ¿
#define ES_EXLM LS(N1)        // !
#define ES_UNDS LS(SLASH)     // _

/* -------------------------------------------------------------------------- */
/* KEYMAP                                                                     */
/* -------------------------------------------------------------------------- */

#define BASE   0
#define LOWER  1
#define RAISE  2
#define ADJUST 3

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// --------------------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  | BSPC |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  |  Ñ  |  ´   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  |  -  | ESC  |
//                     | CMD | LWR | SPC |   | ENT | RSE | OPT |
            bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T      &kp Y &kp U  &kp I     &kp O   &kp P       &kp BSPC
   &kp LCTRL &kp A &kp S &kp D &kp F &kp G      &kp H &kp J  &kp K     &kp L   &kp ES_NTIL  &kp ES_ACUT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B      &kp N &kp M  &kp COMMA &kp DOT &kp ES_MINS  &kp ESC
                      &kp LGUI &mo LOWER &kp SPACE  &kp RET &mo RAISE &kp RALT
            >;
        };

        lower_layer {
// --------------------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
// |      |  <  |  {  |  (  |  [  |  $  |   |  /  |  ]  |  )  |  }  |  >  |  "   |
// | SHFT |  |  |  @  |  #  |  \  |  %  |   |  &  |  =  |  '  |  * |  +  |  ¡   |
//                     | CMD |     | SPC |   | ENT |     | OPT |
            bindings = <
   &kp TAB    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5          &kp N6       &kp N7       &kp N8       &kp N9       &kp N0       &kp BSPC
   &trans     &kp ES_LABK  &kp ES_LCBR  &kp ES_LPRN  &kp ES_LBKT  &kp ES_DLR      &kp ES_SLSH  &kp ES_RBKT  &kp ES_RPRN  &kp ES_RCBR  &kp ES_RABK  &kp ES_DQUO
   &kp LSHFT  &kp ES_PIPE  &kp ES_AT    &kp ES_HASH  &kp ES_BSLS  &kp ES_PERC     &kp ES_AMPR  &kp ES_EQL   &kp ES_QUOT  &kp ES_ASTR  &kp ES_PLUS  &kp ES_IEXL
                                     &kp LGUI     &trans       &kp SPACE       &kp RET      &trans       &kp RALT
            >;
        };

        raise_layer {
// --------------------------------------------------------------------------------------------------
// |  TAB |  F1 |  F2 |  F3 |  F4 |  F5 |   |  F6 |  F7 |  F8 |  F9 | F10 | BSPC |
// |      |  ^  |  ~  |  `  |  ¨  |  €  |   | LFT | DWN |  UP | RGT |  ?  |  ¿   |
// | SHFT | F11 | F12 |     |     |     |   | HOME| PGDN| PGUP| END |  !  |  _   |
//                     | CMD |     | SPC |   | ENT |     | OPT |
            bindings = <
   &kp TAB    &kp F1       &kp F2       &kp F3       &kp F4       &kp F5          &kp F6       &kp F7       &kp F8       &kp F9       &kp F10      &kp BSPC
   &trans     &kp ES_CIRC  &kp ES_TILD  &kp ES_GRV   &kp ES_DIAE  &kp ES_EURO     &kp LEFT     &kp DOWN     &kp UP       &kp RIGHT    &kp ES_QUES  &kp ES_IQUE
   &kp LSHFT  &kp F11      &kp F12      &trans       &trans       &trans          &kp HOME     &kp PG_DN    &kp PG_UP    &kp END      &kp ES_EXLM  &kp ES_UNDS
                                     &kp LGUI     &trans       &kp SPACE       &kp RET      &trans       &kp RALT
            >;
        };

        adjust_layer {
// --------------------------------------------------------------------------------------------------
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   | V-  | V+  | P/P |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                     |     |     |     |   |     |     |     |
            bindings = <
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4    &trans       &trans       &trans       &trans       &trans       &trans
   &trans     &trans       &trans       &trans       &trans       &trans          &kp C_VOL_DN &kp C_VOL_UP &kp C_PP     &trans       &trans       &trans
   &trans     &trans       &trans       &trans       &trans       &trans          &trans       &trans       &trans       &trans       &trans       &trans
                                     &trans       &trans       &trans          &trans       &trans       &trans
            >;
        };
    };
};